

.QPushButton{
   
   
   float: left;
   
   outline: none;
  
   
   transition: 0.3s;
   background-color: rgb(5, 34, 114); /* Green */
  
  color: white;
  border-radius: 2px;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  
  cursor: pointer;

    
	border-left = 100%;
	border-right = 100%;
	border-top = 100%;
	border-bottom = 100%;
 }
.QPushButton:hover {
	background-color: #4169e1;
}
	
.QListWidget{
background-color: transparent;
border-top:none;
border-right:none;
border-bottom:none;
border-left:none;
}

        